* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

.grid {
    display: grid;

    padding-left: 41px;
    padding-right: 41px;

    grid-template-columns: repeat(12, 116px);

    grid-column-gap: 50px;
}

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: #f5e6d1;
  color: white;
  background-image: url('../img/images/denim.png');
}

h1 {
    font-size: 70px;
} 
h2 { font-size: 50px;}
h3 { font-size: 30px;}
p { font-size: 20px;}
/* main header rules */

header {
    background-color: #f5e6d1;
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo {
    width: 780px;
    object-fit: contain; padding: 20; scroll-behavior: smooth;
    grid-column: 3/8;
}

#hero-banner {
    grid-column: 3/8;
}

/* main rules here */
#character_nav {
    text-align: center;
    background-color: #2f0e1b;

    background-image: url('../img/banners/bg_banner.jpg');

    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
}

.characters {
     list-style-type: multiply; 
}

.characters li { 
    display: inline-block; 
    height: 350px;
    margin: 30px 15px;

    background-color: black;

    text-align: left;

    cursor: pointer;
}

.characters li h4 { 
    position: relative;
    color: white;
    padding: 12px 8px;
    font-style: italic;
    font-size: 18px;
    z-index: 500;
}

.characters li a {
     text-decoration: none;
}

/* sprite */
.bumper{
    width: 260px;
    height: 6px;
    background-color: #841641;
    
    transition: height 0.5s ease;

    position: absolute;
}
.characters li:hover .bumper { 
    height: 50px; width: 260px; 
}

.sprite1 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/ladybug02.jpg');
}
.sprite2 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/prince02.jpg');
}
.sprite3 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/tangerine02.jpg');
}
.sprite3 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/tangerine02.jpg');
}
.sprite4 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/lemon02.jpg');
}
.sprite5 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/kimura02.jpg');
}
.sprite6 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/the_elder02.jpg');
}
.sprite7 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/the_son02.jpg');
}
.sprite8 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/white_death02.jpg');
}
.sprite9 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/the_hornet02.jpg');
}
.sprite10 {
    width: 260px;
    height: 300px;

    background-image: url('../img/sprites/wolf02.jpg');
}
#ladybug{ background-position: -260px 0;}
#prince{ background-position: -260px 0;}
#tangerine{ background-position: -260px 0;}
#lemon{ background-position: -260px 0;}
#kimaru{ background-position: -260px 0;}
#the-elder{ background-position: -260px 0;}
#the-son{ background-position: -260px 0;}
#white-death{ background-position: -260px 0;}
#the-hornet{ background-position: -260px 0;}
#wolf{ background-position: -260px 0;}


.sprite:hover {
     background-position-y: -260px !important;
    }

article {padding: 20px;}

article h3 {
    font-display: url('../css/night_train_382.ttf');
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

/*select h3 tag inside the article tag on page*/
/*a selector followed by a space and then ANOTHER seletcor gets a reference to the parent*/
article p {
    width: 80%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

#container {
    background: #2f0e1b 1900px 110px;
    
    }

/* footer rules here */
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p { font-size: 12px;}
    
.sticky_footer {
    position: sticky;
    top: 100%;
    
    height: 80px;
    background-color: black;
}

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.85);

    background-size: 100%; /* 55% of the viewport height */
    background-position: fill;

    z-index: 5000;

    display: none;

}
.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}
.lightbox_close:hover { opacity: 0.5; color: #841641;}


.lightbox:target {user-select: auto;}
.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: right;}

.lb_text {
    line-height: 1.6 !important;
    margin-right: 0;
    padding-top: 2em;
}
/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block;}

#lightbox-ladybug {
    background-image: url('../img/light_box/ladybug_lb.png');
    background-repeat: no-repeat;
}
#lightbox-prince {
    background-image: url(../img/light_box/prince_lb_02.png);
    background-repeat: no-repeat;
}
#lightbox-tang {
    background-image: url(../img/light_box/tangerine_lb.jpg);
    background-repeat: no-repeat;
}
#lightbox-lemon {
    background-image: url(../img/light_box/lemon_lb.png);
    background-repeat: no-repeat;
}
#lightbox-kimaru {
    background-image: url(../assets/lightbox/kimaru_lb.jpg);
    background-repeat: no-repeat;
}
#lightbox-elder {
    background-image: url(../img/light_box/elder_lb_02.png);
    background-repeat: no-repeat;
}
#lightbox-son {
    background-image: url(../img/light_box/son_lb_02.png);
    background-repeat: no-repeat;
}
#lightbox-white {
    background-image: url(../img/light_box/white_death_lb.png);
    background-repeat: no-repeat;
}
#lightbox-hornet {
    background-image: url(../img/light_box/hornet_lb_02.png);
    background-repeat: no-repeat;
}
#lightbox-wolf {
    background-image: url(../img/light_box/wolf_lb.png);
    background-repeat: no-repeat;
}

.lightbox article h3 {
    font-style: italic;
}